
.DS_Store
.idea/

*.xcuserstate
*.xcbkptlist
*.xcscheme
*.xcsettings
*.xccheckout
**/xcuserdata/**
platform/ios/JsonLiteObjC.xcodeproj/xcuserdata/**
platform/macosx/JsonLiteObjC.xcodeproj/xcuserdata/**

